# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [3]:
!pip install pymongo

from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://adetiaraymond:remon541@bigdata.ddd93.mongodb.net/?retryWrites=true&w=majority&appName=BigData')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 20.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 15.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [4]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672adf80e48506510b22ccf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672adf80e48506510b22ccf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [5]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672adf80e48506510b22ccf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672adf80e48506510b22ccf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [6]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [7]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [12]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672adf80e48506510b22ccf0'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672adf80e48506510b22ccf1'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672adf80e48506510b22ccf2'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672adf80e48506510b22ccf3'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [13]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields':
     {'enrollment_category':
      {'$cond':
       {'if': {'$gt': ['$enrollments', 20]},
        'then': 'high',
        'else': 'low'
        }
       }
      }
     }
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672adf80e48506510b22ccf0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672adf80e48506510b22ccf1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672adf80e48506510b22ccf2'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672adf80e48506510b22ccf3'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

# HW 1.

In [22]:
operations = [
    InsertOne({'course': 'Calculus 111', 'enrollments': 40, 'department': 'Mathematics'}),
    InsertOne({'course': 'Algorithm 122', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'Creative Writing 221', 'enrollments': 30, 'department': 'History'}),
    InsertOne({'course': 'Electricity  252', 'enrollments': 25, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [41]:
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'course_count': {'$sum': 1}
        }
    }
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'course_count': 2}
{'_id': 'Computer Science', 'course_count': 2}
{'_id': 'Mathematics', 'course_count': 2}
{'_id': 'History', 'course_count': 2}

# HW 2.

In [47]:
pipeline = [
    {
        '$match': {
            'department': 'Computer Science',
            'enrollments': {'$gt': 25}
        }
    },
    {
        '$group': {
            '_id': '$course',
            'enrollments': {'$sum': '$enrollments'}
        }
    }
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Algorithm 122', 'enrollments': 35}

# HW 3.

In [48]:
db = client['university_db']
students_collection = db['students']
operations = [
    InsertOne({'name': 'Daniel', 'course_enrolled': 'Calculus 111'}),
    InsertOne({'name': 'Raymond', 'course_enrolled': 'Calculus 111'}),
    InsertOne({'name': 'Ferdy', 'course_enrolled': 'Calculus 111'}),

    InsertOne({'name': 'Grace', 'course_enrolled': 'Algorithm 122'}),
    InsertOne({'name': 'Daniel', 'course_enrolled': 'Algorithm 122'}),
    InsertOne({'name': 'Ferdy', 'course_enrolled': 'Algorithm 122'}),

    InsertOne({'name': 'Grace', 'course_enrolled': 'Creative Writing 221'}),
    InsertOne({'name': 'Raymond', 'course_enrolled': 'Creative Writing 221'}),
    InsertOne({'name': 'John', 'course_enrolled': 'Creative Writing 221'}),

    InsertOne({'name': 'Grace', 'course_enrolled': 'Electricity  252'}),
    InsertOne({'name': 'Daniel', 'course_enrolled': 'Electricity  252'}),
    InsertOne({'name': 'Ferdy', 'course_enrolled': 'Electricity  252'}),

    InsertOne({'name': 'Grace', 'course_enrolled': 'Math 101'}),
    InsertOne({'name': 'Raymond', 'course_enrolled': 'Math 101'}),
    InsertOne({'name': 'John', 'course_enrolled': 'Math 101'}),

    InsertOne({'name': 'Daniel', 'course_enrolled': 'CS 102'}),
    InsertOne({'name': 'Raymond', 'course_enrolled': 'CS 102'}),
    InsertOne({'name': 'Ferdy', 'course_enrolled': 'CS 102'}),

]
students_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [61]:
pipeline = [
    {
        '$lookup': {
            'from': 'courses',
            'localField': 'course_enrolled',
            'foreignField': 'course',
            'as': 'course_details'
        }
    },
    {
        '$unwind': '$course_details'
    }
]

for result in students_collection.aggregate(pipeline):
    print(f"Name: {result['name']}, Course_enrolled: {result['course_enrolled']}, Course_departement: {result['course_details']['department']}")

Name: Daniel, Course_enrolled: Calculus 111, Course_departement: Mathematics
Name: Raymond, Course_enrolled: Calculus 111, Course_departement: Mathematics
Name: Ferdy, Course_enrolled: Calculus 111, Course_departement: Mathematics
Name: Grace, Course_enrolled: Algorithm 122, Course_departement: Computer Science
Name: Daniel, Course_enrolled: Algorithm 122, Course_departement: Computer Science
Name: Ferdy, Course_enrolled: Algorithm 122, Course_departement: Computer Science
Name: Grace, Course_enrolled: Creative Writing 221, Course_departement: History
Name: Raymond, Course_enrolled: Creative Writing 221, Course_departement: History
Name: John, Course_enrolled: Creative Writing 221, Course_departement: History
Name: Grace, Course_enrolled: Electricity  252, Course_departement: Physics
Name: Daniel, Course_enrolled: Electricity  252, Course_departement: Physics
Name: Ferdy, Course_enrolled: Electricity  252, Course_departement: Physics
Name: Grace, Course_enrolled: Math 101, Course_departement: Mathematics
Name: Raymond, Course_enrolled: Math 101, Course_departement: Mathematics
Name: John, Course_enrolled: Math 101, Course_departement: Mathematics
Name: Daniel, Course_enrolled: CS 102, Course_departement: Computer Science
Name: Raymond, Course_enrolled: CS 102, Course_departement: Computer Science
Name: Ferdy, Course_enrolled: CS 102, Course_departement: Computer Science